<header>
</header>
<main>
    <div class="container mt-4">
        <h1>Edit Movies</h1>
        
        <table id="moviesTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Rank</th>
                    <th>Genre</th>
                    <th>Action</th>
                </tr>
            </thead>
    <tbody>
    </tbody>
</table>
    </div>

</main>