<header>
    <!-- Nothing here yet. -->
</header>
<main>
    <!-- <h1>This is an azure web app.</h1> -->
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class="col-md-12 text-center">
                <div class="card border-0" style="width: auto; border-radius: .5rem; background-color: #dfe3e6">
                  <div class="card-body">
                    <h1 class="font-weight-bold">MCO2: Transaction Management</h1>
                    <small class="text-center text-muted h6">STADVDB | Rafanan, Tiongquico, Uy</small>
                  </div>
                </div>

            </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="text-center">Database Availabiltiy</h3>
            <ul class="list-unstyled">
              <li>Node 1: <span class="avail1 font-weight-bold"></span></li>
              <li>Node 2: <span class="avail2 font-weight-bold"></span></li>
              <li>Node 3: <span class="avail3 font-weight-bold"></span></li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a class="btn btn-info" href="/movies">Show Movies</a>
                <a class="btn btn-outline-dark" href="/edit">Edit Database</a>
                <a class="btn btn-outline-dark" href="/add">Add to Database</a>
            </div>
        </div>
    </div>


</main>
