<header>
    <!-- Nothing here yet. -->
</header>
<main>
    <!-- <h1>This is an azure web app.</h1> -->
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class="col-md-12 text-center">
                <h1 class="font-weight-bold">MCO2: Transaction Management</h1>
                <small class="text-center text-muted h6">STADVDB | Rafanan, Tiongquico, Uy</small>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="text-center">Database Availabiltiy</h3>
            <ul class="list-unstyled">
              <li>Node 1: </li>
              <li>Node 2: </li>
              <li>Node 3: </li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a class="btn btn-success" href="/movies">Show Movies</a>
                <a class="btn btn-outline-primary" href="/edit">Edit Database</a>
                <a class="btn btn-outline-primary" href="/add">Add to Database</a>
            </div>
        </div>
    </div>


</main>
